.item-method {
}
.item-method-title {
  padding: 20px 100px;
  color: red;
}
.btn-import-item-csv-self {
  padding: 20px 100px;
}
.btn-import-item-csv {
  padding: 20px 300px;
  background-color: #047857;
  font-family: 'Manrope';
}
.btn-import-item-self {
  padding: 20px 300px;
  background-color: #047857;
  font-family: 'Manrope';
}
