.btn-view-item-self{
    padding: 20px 100px; 
    background-color: #047857;
    font-family: 'Manrope';
}
.btn-item-visualize{
    padding: 20px 100px; 
    background-color: whitesmoke;
    font-family: 'Manrope';
}